/* Login.css */

/* Establecer el estilo global para el body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Color de texto blanco */
}

/* Estilos para el contenedor del formulario de login */
.login-container {
  padding: 20px;
  background-color: #fff; /* Fondo blanco para el formulario */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ancho del formulario */
  text-align: center; /* Centra el texto dentro del contenedor */
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 120px; /* Ancho del botón más pequeño */
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Para que el botón ocupe su propio espacio y se pueda centrar */
  margin: 0 auto; /* Centrar el botón */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

button:hover {
  background-color: #45a049;
}
